body{ background-color:#eee; }
.container{ background-color:#fff; min-height:800px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.header{ padding-bottom:14px; padding-top:5px; border-bottom: 1px solid #eee;}
.container .span2 , .container .span10 { padding-top:10px; }
.container .span2 { margin-left: 0;padding-right: 10px;border-right: 1px solid #eee; min-height:750px;}

